#login-section
{
    border: 1px solid transparent;
    background-image: url(../../assets/images/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#div_70
{
    background-image: linear-gradient(to bottom right, #01DB66, #83D357);
}